# üêç Python & Data Manipulation for Beginners
Welcome to this beginner-friendly notebook! This notebook will walk you through basic Python concepts and introduce you to data manipulation using `pandas` and `numpy`. Perfect if you're just getting started nad if you have a non engineering background
Created by Serinmary Pulikkottil
Email: serinvetmed@gmail.com
Use of AI is acknowldged

## üìò Section 1: Introduction to Python
Let's explore basic syntax, variables, data types, lists, and loops.

In [1]:
# üëã Let's print our first message!
print("Hello, world!")  # This prints a simple message to the screen
#you can use either '' or "" for printing text messages

Hello, world!

In [2]:
# üßÆ Math operations
print("Addition:", 5 + 3)
print("Subtraction:", 10 - 2)
print("Multiplication:", 4 * 2)
print("Division:", 16 / 4)

Addition: 8
Subtraction: 8
Multiplication: 8
Division: 4.0

In [3]:
# üóÉÔ∏è Variables store information that we can reuse
name = "Serin"
age = 27
is_student = True

print("Name:", name)
print("Age:", age)
print("Is a student:", is_student)
print("Type of name:", type(name))
print("Type of age:", type(age))
print("Type of is_student:", type(is_student))

Name: Serin
Age: 27
Is a student: True
Type of name: <class 'str'>
Type of age: <class 'int'>
Type of is_student: <class 'bool'>

In [4]:
# üìö Lists and indexing
#a list is simply a list
#python starts at 0 so here 0th position is red, first is green
colors = ["red", "green", "blue"]
print("First color:", colors[0])
#append add things to the list
colors.append("yellow")
print("Updated list:", colors)

First color: red
Updated list: ['red', 'green', 'blue', 'yellow']

In [5]:
# üîÅ Looping through a list
#repition, they look at the first place if it is a color it prints color
#python stores some information like colors, but it may not recognize everything
#so human intelligence is needed for intervention
for color in colors:
    print("Color:", color)

Color: red
Color: green
Color: blue
Color: yellow

## üìä Section 2: Data Manipulation with pandas and numpy
In this section, we will use two popular Python libraries to work with tabular data.

In [7]:
# üì¶ Importing libraries
#they help us do different things in python
#there are more libraries that we will need depending on what we do
#these are basically for data analysis
import pandas as pd
import numpy as np
#we use import then library name then abbreviation

In [8]:
# üîπ Creating a DataFrame
data = {
    "Name": ["Anna", "Ben", "Charlie"],
    "Age": [22, 25, 23],
    "Score": [85, 90, 78]
}
df = pd.DataFrame(data)
print("DataFrame:")
print(df)
#dataframe is like a table without borders
#again, indenxing is at 0

DataFrame:
      Name  Age  Score
0     Anna   22     85
1      Ben   25     90
2  Charlie   23     78

In [9]:
# üîç Exploring the DataFrame
print("Head of DataFrame:")
print(df.head())

print("\nSummary statistics:") #summary of statistics
print(df.describe())

Head of DataFrame:
      Name  Age  Score
0     Anna   22     85
1      Ben   25     90
2  Charlie   23     78

Summary statistics:
             Age      Score
count   3.000000   3.000000
mean   23.333333  84.333333
std     1.527525   6.027714
min    22.000000  78.000000
25%    22.500000  81.500000
50%    23.000000  85.000000
75%    24.000000  87.500000
max    25.000000  90.000000

In [10]:
# ‚ûï Adding a new column
df["Passed"] = df["Score"] >= 80
print("With 'Passed' column:")
print(df)

With 'Passed' column:
      Name  Age  Score  Passed
0     Anna   22     85    True
1      Ben   25     90    True
2  Charlie   23     78   False

In [11]:
# üßæ Filtering data
passed_df = df[df["Passed"] == True]
print("Students who passed:")
print(passed_df)

Students who passed:
   Name  Age  Score  Passed
0  Anna   22     85    True
1   Ben   25     90    True

In [12]:
# üìà Average score using numpy
average_score = np.mean(df["Score"])
print("Average score of the class:", average_score)

Average score of the class: 84.33333333333333

## ‚úÖ Summary
In this notebook, you learned:
- Basic Python syntax and operations
- How to create and use lists and loops
- Introduction to `pandas` and `numpy`
- How to create a DataFrame, explore data, add columns, and filter rows

Keep practicing, and happy coding! üêç